---
import Layout from '~/layouts/PageLayout.astro';
import MiddleDisplayLayout from '~/layouts/MiddleDisplayLayout.astro';
import Button from "../../../components/ui/Button.astro";

//get list of categories
const api = import.meta.env.API_PATH;
const categories = await fetch(`${api}/category`);
const data = await categories.json();

const metadata = {
  title: 'Introduce Resource File',
};
---
<Layout metadata={metadata}>
  <MiddleDisplayLayout>
    
    <div class="relative px-4 md:px-6 py-12  text-default max-w-7xl mx-auto">

      <div class="mb-8 md:mx-auto md:mb-12 text-center max-w-3xl"
           data-astro-source-loc="23:6">
        <div class="m-2 flex">
          <Button variant="secondary" href="/admin/files" >Back</Button>
        </div>
        <h2
          class="font-bold leading-tighter tracking-tighter font-heading text-heading text-3xl md:text-4xl"
          data-astro-source-loc="31:10">
          New File
        </h2>
        <p class="mt-4 text-muted text-xl"
           data-astro-source-loc="41:10">
          Introduce a new file to the system. This file could be reference in the generation of reports.

        </p></div>
      <div
        class="flex flex-col max-w-xl mx-auto rounded-lg backdrop-blur border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900 shadow p-4 sm:p-6 lg:p-8 w-full"
        data-astro-source-loc="29:179">
        <form method="post" id="file-add-form" onsubmit="submitFile(event)"
              data-astro-source-loc="8:7">
          <div class="mb-6"
               data-astro-source-loc="14:31">
            <label for="name" class="block text-sm font-medium"
                   data-astro-source-loc="16:69">
              Name </label>
            <input type="text"
                   name="name"
                   class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
                   id="name"
                   autocomplete="off"
                   required
                   placeholder=""
                   data-astro-source-loc="20:16">
          </div>
          <div class="mb-6">
            <label for="category" class="block text-sm font-medium">
              Category
            </label>
            <select name="category"
                    class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
                    id="category"
                    required>
              {data.map(item => (
                <option value={item.category}>{item.category}</option>
              ))}
            </select>
          </div>
          <div class="mb-6"
               data-astro-source-loc="35:12">
            <label for="textarea" class="block text-sm font-medium"
                   data-astro-source-loc="36:65"> Description </label> <textarea
            id="textarea" name="textarea" rows="4" required
            class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
            data-astro-source-loc="39:10"></textarea>
          </div>
          <div class="mb-6">
            <label for="file" class="block text-sm font-medium">
              File
            </label>
            <input type="file"
                   name="file"
                   class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
                   id="file"
                   accept=".json, .csv"
                   required>
          </div>
          <div class="mt-10 grid"
               data-astro-source-loc="72:31">
            <Button variant="primary" type="submit" id="add" icon="tabler:plus" >Add</Button>
          </div>

        </form>
      </div>
    </div>

  </MiddleDisplayLayout>
</Layout>
<script>
window.submitFile = async (event) => {
  event.preventDefault();
  console.log('submitting file')
  console.log(event);
  const form = event.target;
  const element = document.getElementById('file-add-form');
  console.log(element);
  const formData = new FormData(element);
  console.log(formData);
  // const form = event.target;
  // const formData = new FormData(form);
  // const api = import.meta.env.API_PATH;
  // const response = await fetch(`${api}/file`, {
  //   method: 'POST',
  //   body: formData
  // });
  // if (response.ok) {
  //   window.location.href = '/admin/files';
  // } else {
  //   alert('Error adding file');
  // }
}  

// post form data to the server

</script>
