---
import Layout from '~/layouts/PageLayout.astro';
import MiddleDisplayLayout from '~/layouts/MiddleDisplayLayout.astro';
import Button from "../../../components/ui/Button.astro";
import PageLayout from "../../../layouts/PageLayout.astro";
// get list of files

const api = import.meta.env.API_PATH;
const categories = await fetch(`${api}/upload`);
const data = await categories.json();
const metadata = {
  title: 'Introduce Resource File',
};
---
<Layout metadata={metadata}>
<MiddleDisplayLayout>

  <h2 class="font-bold leading-tighter tracking-tighter font-heading text-heading text-3xl md:text-4xl">File Manager</h2>
  <div class="flex justify-end">
    <Button icon="tabler:plus" variant="primary" link="/add" class="mt-4" href="files/add">Add File</Button>
  </div>
  
  <p>Introduce Files to be used in the report generation process</p>
  <div class="container mx-auto overflow-x-auto">

    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <caption
            class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            Files
            <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
            </p>
          </caption>
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              Name
            </th>
            <th scope="col" class="px-6 py-3">
              Category
            </th>
            <th scope="col" class="px-6 py-3">
              Original File Name
            </th>
            <th scope="col" class="px-6 py-3">
              Description
            </th>
            <th scope="col" class="px-6 py-3">
              User
            </th>
            <th scope="col" class="px-6 py-3">
              <span class="sr-only">Edit</span>
            </th>
          </tr>
          </thead>
          <tbody>
          {data.map(category => (
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {category.name}
                </th>
                <td class="px-6 py-4">
                  {category.category}
                </td>
                <td class="px-6 py-4">
                  {category.original_file_name}
                </td>
                <td class="px-6 py-4">
                  {category.description}
                </td>
                <td class="px-6 py-4">
                  {category.user}
                </td>

                <td class="px-6 py-4 text-right">
                  <Button type="button" id="remove" data-id={category.id}  variant="danger" class="mt-4 text-red-600 remove" href="#">Remove</Button>
                </td>
              </tr>
            )
          )}

          </tbody>
        </table>
      </div>
    </div>


  </div>
  
  </MiddleDisplayLayout>
</Layout>
