---
import Layout from '~/layouts/PageLayout.astro';
import MiddleDisplayLayout from '~/layouts/MiddleDisplayLayout.astro';
import Button from "~/components/ui/Button.astro";
import Authorize from "../../../components/Authorize.astro";

//get list of categories
const api = import.meta.env.API_PATH;
const categories = await fetch(`${api}/category`);
const data = await categories.json();

const metadata = {
  title: 'Startup Landing Page',
};
---

<Layout metadata={metadata}>
  <MiddleDisplayLayout>
    <Authorize />

    <h2 class="font-bold leading-tighter tracking-tighter font-heading text-heading text-3xl md:text-4xl">Category
      Manager</h2>
    <div class="flex justify-end">
      <Button icon="tabler:plus" variant="primary" link="/add" class="mt-4" href="categories/add">Add Category</Button>
    </div>

    <div class="container mx-auto overflow-x-auto">

      <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <caption
              class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
              Categories
              <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
                Introduce categories for the organization of lab reports files.
              </p>
            </caption>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">
                Category
              </th>
              <th scope="col" class="px-6 py-3">
                Description
              </th>
              <th scope="col" class="px-6 py-3">
                User
              </th>
              <th scope="col" class="px-6 py-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
            </thead>
            <tbody>
            {data.map(category => (
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {category.category}
                  </th>
                  <td class="px-6 py-4">
                    {category.description}
                  </td>
                  <td class="px-6 py-4">
                    {category.user}
                  </td>

                  <td class="px-6 py-4 text-right">
                    <Button type="button" id="remove" data-id={category.id}  variant="danger" class="mt-4 text-red-600 remove" href="#">Remove</Button>
                  </td>
                </tr>
              )
            )}
            
            </tbody>
          </table>
        </div>
      </div>


    </div>
    
  </MiddleDisplayLayout>

</Layout>
<script define:vars={{api}} is:inline>
  
  const removeBtns = document.querySelectorAll('.remove');
  removeBtns.forEach(btn => {
    btn.addEventListener('click', function (e) {
      e.preventDefault();
      const id = e.target.getAttribute('data-id');
      console.log(id);
      const data = fetch(`/admin/api/category/${id}`, {
        method: 'DELETE',
      }). then(() => {
        window.location.reload();
      });
    });
  });
  
</script>
